* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: gray;
}

aside {
    position: absolute;
    width: 25%;
    background-color: teal;
    color: white;
    left: 0;
    top: 0;
    bottom: 0;
}

.userInfoCard {
    height: 150px;
    overflow: hidden;
    background-color: rgb(3, 110, 110);
    padding: 20px;
}

img {
    width: 100%;
    height: 100%;
}

.userImgContainer {
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.usserInfo {
    float: left;
    margin-left: 10px;
    width: 50%;
}

h1 {
    padding-top: 30px;
    font-size: 16px;
}

.userEmail {
    font-size: 14px;
}

.setting {
    position: absolute;
    margin-left: 10px;
}

a {
    color: white;
}

.button {
    position: absolute;
    width: 100%;
    background-color: rgb(3, 110, 110);
    color: white;
    border: none;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

.delete {
    position: absolute;
    text-align: center;
    width: 13%;
    top: 10px;
    right: 10px;
    border: none;
    background-color: rgb(187, 38, 38);
    padding: 13px;
    border-radius: 20px;

}

.content {
    width: 70%;

    max-height: 550px;
    overflow: scroll;
    margin: 70px 0 0 25%;
}

table {
    width: 100%;
}

th {
    color: white;
    border: 1px solid rgb(3, 110, 110);
    background-color: rgb(3, 110, 110);
    text-align: left;
    padding: 15px;
}

td {
    border: 1px solid rgb(3, 110, 110);
    text-align: left;
    padding: 8px;
}

.owner {
    background-color: rgb(235, 29, 29);
    color: white;
}