* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.container {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

form,
.form {
    width: 30%;
    display: inline-block;
    text-align: left;
    background-color: rgb(218, 218, 218);
    padding: 20px;
}

.form {
    margin-top: 100px;
    line-height: 30px;
}


h3 {
    text-align: center;
    margin: 20px 0;
    color: rgb(107, 105, 105);
    font-size: 28px;
}

p {
    color: rgb(65, 63, 63);
    margin: 10px 0;
}

input {
    border-radius: 5px;
    padding: 7px;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    border: 1px solid rgb(184, 177, 177);
}

.submit {
    border-radius: 20px;
    background-color: teal;
    color: white;
    font-size: 17px;
    opacity: 0.7;
    cursor: pointer;
    margin: 15px 0 10px;
    text-align: center;
}

a {
    color: white;
}

.notValid {
    background-color: rgb(236, 195, 195);
    border: 1px solid red;
    color: gray;
}

.error {
    color: red;
    font-size: 13px;
}