* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.container {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

form {
    width: 50%;
    display: inline-block;
    text-align: left;
    background-color: rgb(218, 218, 218);
    padding: 20px;
    overflow: hidden;
    position: relative;
}

input {
    border-radius: 5px;
    padding: 7px;
    background-color: white;
    opacity: 0.9;
    border: 1px solid rgb(184, 177, 177);
    width: 70%;
    margin-top: 15px;
}

p {
    width: 20%;
    display: inline-block;
}

.submit {
    border-radius: 20px;
    background-color: teal;
    color: white;
    font-size: 17px;
    opacity: 0.7;
    cursor: pointer;
    margin: 30px 0 10px;
    text-align: center;
    float: right;
    width: 30%;
}


input[type=file] {
    background-color: inherit;
    text-align: center;
    border: none;
    width: 200px;
    margin-top: 10px;
}

.roundedImg {
    width: 150px;
    height: 150px;
    border: 1px solid teal;
    border-radius: 50%;
    margin: auto;
}

.imgCntainer {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.button {
    position: absolute;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    bottom: 30px;
    left: 20px;
    background-color: white;
    text-align: center;
    color: black;
}

.btnHover:hover {
    opacity: 0.8;
}

.error {
    color: red;
    font-size: 13px;
    padding-left: 130px;
}

.notValid {
    background-color: rgb(236, 195, 195);
    border: 1px solid red;
    color: gray;
}